

<header style="width:100%;">
	<div>
		<h1> VIBIN </h1>
	</div>
	<div class="menu" >
		<nav class= 'navig'>
		  <ul class='navUL'>
				<li class="li stubborn"><a href='/'><span>Home</span></a></li>
				
				
				<li class="li">Login
				  <ul class="drop-menu subMenu">
							<li  class="an li"><a href='/'>Favorites</a></li>
							<li class="li"><a href='/auth/logout'>Logout</a></li>
				  </ul>
				</li>
				<li class="li">User
					<ul class="drop-menu subMenu">
						<li  class="an li"><a href='/auth/register'>Register</a></li>
					</ul>
				</li>
		  </ul>
		</nav>
	</div>
</header>