
<header>

<ul>
			<div class="parentmenu">
				<div class="babymenu">
					<li><a href="/"> Home </a></li>
					
					<li class="dropdwn"><a href="#" class="dropbtwn"> Waves </a>
						<div class="dropWAVEcontent">
							<a href="/views/sounds/sound-single">Alpha</a>
							<a href="#">Beta</a>
							<a href="#">Delta</a>
							<a href="#">Gamma</a>
                            <a href="#">Nerve Regeneration</a>
                        </div>
                        <li class ='dropdwn'><a href='/auth/login' class = 'dropbtwn'>Login</a></li>
                        <div class="dropLOGINcontent">
							<a href="/auth/register">Register</a>
							<a href="/user">Profile</a>
							<a href="/auth/logout">Logout</a>
							
                        </div>
					</li>
				</div>
			</div><!--parentmenu CLOSE -->			 
</header>