
<% include ./partials/boilerplate %>

  <div class='container'>
    

    <center>
      <h1>RIDE THE <br> SOUND WAVE 🌊 </h1>
    </center>

  </div>


  <div class='waveContainer'>  
    <% if ( soundData) { %>
      <div class = 'waveBaby'>
        <% for (i = 0; i < soundData.length ; i++){ %>

          <ul>
            <center>
                <form method="POST" action="sounds/add">
                    
                    <input id="submit" type='submit' class="add" value='Add to Favorites'/>
                    
                    
                    <input type="text" name="sound_wave" value = '<%= soundData[i].sound_wave %>'>
                    

                    <iframe   class='alpha' src = ' <%= soundData[i].audio_url %>' width="500" height="315" frameborder="0" allowfullscreen></iframe>

                </form>

            </center>      
        </ul>
       <% } %>
    <% } %>
     
  </div>

</script>
  <footer>

    ◊    Bi∆nc∆ Cørtes®    ◊

    <% include ./partials/end %>
