

<% include ../partials/boilerplate %>

  <h3><%= sound.sound_wave %></h3>
  
  
  <% if (sound.fave_pick) { %>
    <span class='done'>Done!</span>
  <% } else { %>
    <span class='not-done'>Not done!</span>
  <% } %>
  <a href='/sounds/<%= sound.id %>/edit'>Edit it!</a>
  <form method='POST' action='/sounds/<%= sound.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form>

  
<% include ../partials/end %>