

<% include ../partials/boilerplate %>

  <!-- <h3><%= sounds.sound_wave %></h3>
  
  
  <% if (sounds.fave_pick) { %>
    <span class='done'>placeholder!</span>
  <% } else { %>
    <span class='not-done'>placeholder!</span>
  <% } %>
  <a href='/sounds/<%= sound.id %>/edit'>Edit it!</a>
  <form method='POST' action='/sounds/<%= sound.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form> -->

  
<% include ../partials/end %>